*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.testimonial-heading span,h4{
    font-size: 1.3rem;
    color: rgb(17, 8, 8);
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:100vw;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: pink;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
/* .testimonial-box:hover{
    background-color:  rgb(17, 8, 8);

}
.testimonial-heading:hover{ color:pink;} */
