.App {
  background: white;
  height: 100vh;
  color: #141414;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 30px 15px;
  margin-bottom: 50px;
}
.card{
  /* box-shadow: #61dafb 2px 2px; */
  /* box-shadow: rgb(247 255 12 / 72%) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(211, 211, 207, 0.849) 0px 10px 5px, rgba(165, 165, 163, 0.23) 0px 10px 5px;
  text-align: center;
}
.content{
  
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #141414;
}
.rating{
  border: var(--completed) solid red
}

.rating-bar div { padding-bottom: 20px;
padding-top: 10px; }
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.link {
  padding: 12px 38px;
  border-style: none;
  font-size: 1.1em;
  font-weight: 800;
  background-color: white;
  color: #141414;
  border:2px solid transparent ;

}

 .link:hover {
  /* box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2); */
  cursor: pointer;
  border:2px solid rgb(42, 60, 139) ;
}
